@{
    ViewBag.Title = "Admin Page";
}

<main>
    <section class="row" aria-labelledby="secretTitle">
        <h1 id="title">Admin - page of secrets</h1>
        <p class="lead">You are forbidden to view this page.</p>
    </section>

    <div class="row">
        <section class="col-md-12" aria-labelledby="informationTitle">
            <h2 id="gettingStartedTitle">Information</h2>
            <p>
                You are originating from an untrusted source, only users from the local network are permitted.
                <!--Only allow localhost access-->
            </p>
        </section>
    </div>
</main>