@{
    ViewBag.Title = "Admin Page";
}

<main>
    <section class="row" aria-labelledby="secretTitle">
        <h1 id="title">Admin - page of secrets</h1>
        <p class="lead">Here you can get the most important secret of all.</p>
    </section>

    <div class="row">
        <section class="col-md-12" aria-labelledby="informationTitle">
            <h2 id="gettingStartedTitle">Information</h2>
            <p>
                This page contains the secret value: SecurityByObscurity
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.softronic.se">Softronic &raquo;</a></p>
        </section>
    </div>
</main>