@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Vulnerable Product Management System - Password reset</h1> 
        <p><a href="https://www.cm1.se/" class="btn btn-primary btn-md">Read more about the service &raquo;</a></p>
    </section>

    <form action="" method="post">
        <div class="form-group">
            <label for="Name">New password</label>
            <input class="form-control" id="Name" name="Name" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Description">Repeat new password </label>
            <input class="form-control" id="Description" name="Description" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
</main>